@import url(../App.css);

footer {
    font-family: var(--font-light);
    font-size: 1rem;
    background-color: #000000ca;
    /* background-color: var(--light-black); */
    height: auto;
    display: flex;
    
    align-items: center;
    gap: clamp(1.2rem, 5vw, 4rem);
    padding: 0 2rem;
    padding-top: clamp(1rem, 2vh, 3rem);

    color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.heading-title {
    font-size: 3rem;
    font-family: fantasy;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 2.8rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

footer img {
    width: clamp(150px, 30vw, 400px);
    /* height: clamp(100px, 50vh, 300px); */
}

.footer__right-image {
    opacity: 20%;
    position: absolute;
    right: 0;
}

.footer__right-image img {
    object-fit: cover;
}
.social-icons {
    display: flex;
    gap: clamp(.8rem, 3vw, 1.5rem);
}
.social-icons img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}


/* Mobile */
@media (max-width: 600px) {
    .heading-title {
        font-size: 1.3rem;
        font-weight: lighter;
        line-height: 1.5rem;
    }

    .footer__right-image {
        display: none;
    }

    .social-icons img {
        width: 20px;
        height: 20px;
    }
}

/* Tablet */
@media (max-width: 900px) {

}